{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
    {% if chat %}
    {% for msg in chat %}
        {% if msg.sender_id == current_user.id %}
        <div class="CHAT-container CHATdarker">
            <div style="float:right;">
            <p>{% for m in msg.body.split('\n') %}
            {{ m }}<br>
            {% endfor %}</p>
            </div>
            <span class="CHATtime-left">{{ moment(msg.timestamp).fromNow() }}</span>
        </div>
        {% else %}
        <div class="CHAT-container">
            <img src="{{ With.avatar(60) }}" alt="{{ With.username }}">
            <p>{% for m in msg.body.split('\n') %}
            {{ m }}<br>
            {% endfor %}</p>
            <span class="CHATtime-right">{{ moment(msg.timestamp).fromNow() }}</span>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
        <div id='new-message'></div>
    </div>
    <br>
    <div style='bottom:0' id='message-input'>
        <form method="post">
            <input type="text" class="form-control"
                name="push_message_box" id="push_message_box" 
                placeholder="@{{current_user.username}} says..." 
                autofocus>
            <br>
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit" name="command">Send</button>
            </span>
        </form>
        <br>
    </div>
{% endblock %}
