{% extends 'base.html' %}

{% block app_content %}
    <table class="table table-hover">
        {% for u in unread_users %}
            <tr>
                <td width="70px" style="magin-right:4%;">
                <a href="{{ url_for('message.chat', With=u.username) }}">    
                    <img src="{{ u.avatar(70) }}" />
                </a>
                </td>
                <td>
                <a href="{{ url_for('message.chat', With=u.username) }}" 
                   style="text-decoration: none;color: black;">
                    <strong>{{ u.username }}</strong>
                    <br>
                </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}