#Virtual environment directory
venv

#Flask environment variables
.env

#IDE setting files
.vscode

#Python cache
__pycache__
app/__pycache__
app/main/__pycache__

#Database
app.db

#Other files
test.py
*.txt
*.exe
