#Virtual environment directory
venv

#Project environment variables
.env

#IDE setting files
.vscode

#Log files
logs

#Python cache
__pycache__
app/__pycache__
app/main/__pycache__

#Other files
test.py
notes.txt
*.exe
PPT.pptx
image.jpg
