{% extends "base.html" %}
    {% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="176px"><img src="{{ user.avatar(176) }}", alt='{{ user.username }}'></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen and current_user.id==user.id %}
                <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}                
                <a href="{{ url_for('user.followers', username=user.username) }}" class='badge'>
                    <span id="follower_count"></span> follower(s)
                </a>
                <a href="{{ url_for('user.followed', username=user.username) }}" class='badge'>
                    <span id="followed_count"></span> following
                </a>
                {% if not current_user.is_anonymous %}
                    {% if user == current_user %}
                    <p><a href="">Edit your profile</a></p>
                    {% elif current_user.is_following(user) %}
                    <p><a href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a></p>
                    {% else %}
                    <p><a href="{{ url_for('main.follow', username=user.username) }}">Follow</a></p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
    {% include '_posts.html' %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        (function(){
            $.getJSON(
                $SCRIPT_ROOT+"/user/_ffCount/{{ user.username }}",
                function(data) {
                    document.getElementById('followed_count').innerHTML = data.Following;
                    document.getElementById('follower_count').innerHTML = data.Followers;
                }
            );
            setTimeout(arguments.callee, 1200);
        })();
    </script>
{% endblock %}