{% extends 'bootstrap/base.html' %}

{% block head %}
    <meta charset="utf-8"/>
    {% block styles %}
        {{super()}}
        <link rel="stylesheet" 
            href="{{ url_for('static', filename='chatPageCSS.css') }}">
        <!--
        <link rel="stylesheet" href="{{ url_for('static', filename='cssChat.css') }}">
        -->
    {% endblock %}
{% endblock %}

{% block title %}
    {% if title %}{{ title }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Umhera</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('user.profile', username=current_user.username) }}">
                        <img src="{{ current_user.avatar(20) }}" 
                            alt="{{ current_user.username }}"
                            style="max-width:20px; width:100%;
                                    border-radius:50%;">
                        {{ current_user.username }}
                        </a>
                    </li>
                    <li><a href="{{ url_for('message.dashboard') }}">Message</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with flash_messages = get_flashed_messages() %}
        {% if flash_messages %}
            {% for message in flash_messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>

    <!--<div id='chatSidebar' class='chat-sidebar'></div>-->

{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% if user %}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        (function(){
            $.getJSON(
                $SCRIPT_ROOT+"/user/_ffCount/{{ user.username }}",
                function(data) {
                    document.getElementById('followed-count').innerHTML = data.Following;
                    document.getElementById('follower-count').innerHTML = data.Followers;
                }
            );
            setTimeout(arguments.callee, 1500);
        })();
    </script>
    {% endif %}
    {% if not current_user.is_anonymous and With%}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        (function(){
            $.getJSON(
                $SCRIPT_ROOT+"/message/new_msg/{{ With.username }}",
                function(data) {
                    var a = data.avatar;
                    var b = data.username;
                    var chat_ele = '';
                    for(var i=0; i<data.messages.length; ++i)
                    {
                        var c = data.messages[i].body;
                        var d = data.messages[i].timestamp;
                        chat_ele += "<div class='CHAT-container'>";
                        chat_ele += "<img src='"+a+"'";
                        chat_ele += " alt='"+b+"'>";
                        chat_ele += "<p>"+c+"</p>";
                        chat_ele += "<span class='CHATtime-right'>";
                        chat_ele += d+"</span>";
                        chat_ele += "</div>";
                    }
                    document.getElementById('new-message').innerHTML = chat_ele;
                }
            );
            setTimeout(arguments.callee, 1500);
        })();
    </script>
    {% endif %}
    <script type=text/javascript>
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1500);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
    </script>
    {{ moment.include_moment() }}
    {{super()}}
{% endblock %}
